<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <nav>
            <a href="/search">search Book </a>
        </nav>
    </header>
    <main>
        <h1>total Search : <%= ahmad %> </h1>
        <% booksData.forEach(element =>{ %>
            <h2> id :<%= element.id %> </h2>
            <h2> title <%= element.title %>  </h2>
            <p> description : <%= element.description %> </p>
            <h3>Author :<%= element.authors %> </h3>
            <img src="<%= element.imageLinks %> " alt="image">
            <p>published Date: <%= element.publishedDate %> </p>

       <% }) %> 
    </main>
    <footer></footer>
</body>
</html>